.color-primary {
  color: #f86011; }

.hover-c-primary:hover {
  transition: 0.3s ease-in-out; }

.hover-c-primary:hover {
  color: #f86011; }

.f-family-cursive {
  font-family: cursive; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-500 {
  font-weight: 500; }

.primary-hovered {
  transition: 0.3s ease-in-out; }

.primary-hovered:hover {
  background-color: #c04706; }

.bg-c-primary {
  background-color: #f86011; }

.bg-light-pink {
  background-color: #ffe7da; }

.whie-s-nowrap {
  white-space: nowrap; }

.max-w-200px {
  max-width: 200px; }

#logo {
  min-width: 200px; }

.logo {
  max-width: 200px; }

.max-wrapper {
  max-width: 1372.8px;
  margin: 0 auto; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a,
a:hover,
a:focus {
  text-decoration: none; }

p {
  margin: 0; }

/* HEADER STYLING */
nav .nav-link-angle {
  padding-left: 0.5rem; }

nav .nav-link-drop-down {
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 0;
  transition: all calc(300 * 1ms) cubic-bezier(0.42, 0.01, 0.58, 1);
  transform: translateY(10px);
  box-shadow: 0px 10px 12px -1px #e8e8e8; }

nav .nav-link-dropDrown-li {
  width: 248px !important;
  border-bottom-color: rgba(255, 252, 252, 0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; }

nav .navLinkHover:hover .nav-link-drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px); }

nav .navLinkHover:hover .nav-link-border {
  border-bottom-width: 2px;
  border-color: #f86011;
  transform: scale(1); }

nav .navLinkHover:hover span {
  color: #f86011; }

.primary-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 24px 32px -6px; }

.color-black {
  color: #000000; }

.order1 {
  order: 1; }

.order2 {
  order: 2; }

.responsive-fonts {
  font-size: 1rem; }

.line-height-1-6 {
  line-height: 1.6; }

.border-radius-10 {
  border-radius: 10px; }

.text-right {
  text-align: right; }

.ml-auto {
  margin-left: auto; }

.light-pink-btn {
  padding: 15px 20px;
  line-height: 21px;
  font-size: 18px;
  transition: 0.3s ease-in-out; }

.light-pink-btn:hover > * {
  color: #fff; }

.light-pink-btn:hover {
  background-color: #f86011; }

.free-quote-text {
  color: #f86011; }

.light-pink-btn:hover .free-quote-text {
  color: #fff; }

.light-pink-btn:hover {
  color: #fff;
  background-color: #f86011; }

.gap-12 {
  gap: 12px; }

.nav-link-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-color: transparent;
  border-radius: 0;
  border-style: solid;
  transition: calc(300 * 1ms);
  transition-timing-function: cubic-bezier(0.42, 0.01, 0.58, 1);
  transform: scale(0); }

.services-drop-down {
  transition: 0.4s ease-in-out;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  left: 0;
  top: 72%;
  right: 0;
  transition: 0.4s ease-in-out;
  z-index: 1; }

.after-border {
  position: relative; }

.after-border::after {
  position: absolute; }

#services-link:hover .services-drop-down {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px); }

.is-hidden {
  opacity: 0;
  visibility: hidden; }

.is-showen {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px); }

.font-20px {
  font-size: 20px; }

.mega-menu-card-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%; }

.icon-bg-light-blue {
  background-color: rgba(0, 166, 249, 0.1); }

.icon-bg-light-blue i {
  transition: 0.3s ease-in-out;
  color: #0064fe; }

.icon-bg-light-blue:hover {
  background-color: #0064fe; }

.icon-bg-light-blue:hover i {
  color: #ffffff; }

.icon-bg-light-pink {
  color: #f8cc23;
  background-color: #fff7d7;
  border-color: #ffe7da;
  transition: 0.3s ease-in-out; }

.icon-bg-light-pink:hover {
  color: #ffffff;
  background-color: #f8cc23;
  border-color: #f9e1d4; }

.icon-bg-light-green {
  color: #3bc77b;
  background-color: rgba(59, 199, 123, 0.12);
  border-color: #ffe7da;
  transition: 0.3s ease-in-out; }

.icon-bg-light-green:hover {
  color: #ffffff;
  background-color: #3bc77b;
  border-color: #f9e1d4; }

.c-pointer {
  cursor: pointer; }

/*END  HEADER STYLING */
/* HERO STYLING */
.home-header {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.24) 93%, white 93%), url(https://avada.theme-fusion.com/marketing-consultant/wp-content/uploads/sites/142/2020/06/marketing-intro.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0.08);
  border-style: solid;
  background-size: cover;
  visibility: visible;
  animation-duration: 1s;
  padding-top: 80px;
  margin-top: 0px;
  padding-right: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-left: 32px; }

.btn-c-primary button {
  background-color: #f86011;
  color: #fff;
  padding: 17px 40px;
  line-height: 21px;
  font-size: 18px;
  border: none; }

.check-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f86011; }

.check-icon i {
  color: #ffffff; }

.hero-leftimg .hero-left-img {
  width: 50%;
  position: absolute;
  background: #ffffff;
  bottom: 0%;
  box-shadow: #8e8787 44px 44px 50px 0px; }

.hero-leftimg::after {
  content: "";
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 12%;
  right: 0;
  z-index: -1;
  background-color: #f4f4f6; }

.lets-work-icon {
  height: 60px;
  width: 60px; }

.grey-section {
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(216deg, #f4f4f6 0%, #ffffff 100%);
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 0px 0px 0px 0px;
  border-color: rgba(0, 0, 0, 0.08);
  border-style: solid;
  padding-bottom: 6%;
  padding-top: 5%; }

.marketing-card {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-width: 0px 1px 1px;
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 32px -10px;
  padding: 40px;
  min-height: 0px;
  margin: 20px 0; }

.card-icon {
  width: 100px;
  height: 100px;
  padding: 12px;
  border-radius: 12px; }
  .card-icon i {
    font-size: 3rem; }

.awards-img {
  max-width: 150px;
  transition: filter 0.3s ease; }

.awards-img1 {
  filter: hue-rotate(172deg) saturate(106%); }

.awards-img1:hover {
  filter: hue-rotate(0deg) saturate(100%); }

.awards-img2 {
  filter: saturate(116%) brightness(106%) contrast(106%); }

.awards-img2:hover {
  filter: saturate(6%) brightness(100%) contrast(106%); }

.awards-img3 {
  filter: hue-rotate(0deg) contrast(100%); }

.awards-img3:hover {
  filter: hue-rotate(279deg) contrast(100%); }

.awards-img4 {
  filter: hue-rotate(216deg) saturate(124%) brightness(104%) contrast(106%); }

.awards-img4:hover {
  filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%); }

.col-img-spacing {
  margin-right: 7.68%;
  margin-left: 3.84%;
  border-radius: 10px; }

.col-img-boxShadow {
  box-shadow: rgba(0, 0, 0, 0.3) 16px 32px 40px -8px; }

.col-text-spacing {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 7.68%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 3.84%; }

.sticky-row-img {
  width: 100%;
  max-width: 62px; }
  .sticky-row-img img {
    border-radius: 50%; }

.sticky-row {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border-width: 0px 1px 1px;
  border-color: rgba(0, 0, 0, 0.05);
  border-style: solid;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 20px 30px 0px;
  padding: 2px 20px;
  min-height: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding-bottom: 12px; }

.sticky-row-img-sec {
  display: flex;
  text-align: center; }

.collap-title-margin {
  margin-left: 20px; }

.twoCards-card {
  background-color: #f4f4f6;
  border-radius: 12px;
  overflow: hidden;
  min-height: 0px;
  height: 100%;
  padding: 20px; }

.towCards-card-img {
  padding: 10px; }

.max-w-fit {
  max-width: fit-content; }

.help-card-footer {
  border-top: 1px dashed #cbcbcb; }

.hlp-card-overlay {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: normal;
  text-align: center;
  transform: translateY(3px);
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(to top, rgba(248, 96, 17, 0.6) 0, rgba(248, 96, 17, 0) 100%); }

.help-card-img:hover .hlp-card-overlay {
  opacity: 1;
  transform: translateY(0); }

.black-container {
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.08) 32px 72px 50px -6px;
  padding: 6% 6% 4%;
  min-height: 0px; }

.contact-form {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  padding: 32px;
  min-height: 0px; }

.input {
  border-radius: 10px;
  font-size: 18px;
  color: #5e5e5e;
  width: 100%;
  height: 60px;
  border: 1px solid #d2d2d2;
  padding: 0 1em;
  transition: 0.2s ease-in-out; }

.input:hover,
.input:focus {
  border-color: #f86011; }

.input:focus {
  outline: none; }

.owl-carousel .owl-stage-outer {
  cursor: grab; }

.blackCarousel {
  transition: filter 0.3s ease-in-out; }

.blackCarousel:hover {
  filter: invert(100%); }

.footer,
.footer-end {
  padding: 30px 0; }

.footer-f-column {
  padding-top: 0px !important;
  padding-right: 0px !important;
  margin-right: 19.2%;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: 4.8%; }

.footer-link {
  border-right: 3px solid transparent;
  transition: border-color 0.3s ease-out; }

.footer-link:hover {
  border-color: #f86011; }

.animImg {
  height: 100%;
  background: rebeccapurple;
  margin: 0 auto;
  width: 450px; }

.anim-layer {
  height: 300px;
  width: 500px; }

.anim-layer-1 {
  background-color: red;
  z-index: 1; }

.anim-layer-2 {
  background-color: yellow;
  z-index: 2;
  height: 137px;
  transform: rotate3d(1, 1, 1, 12deg);
  right: 3px;
  top: 83px; }

.anim-layer-3 {
  background-color: blue;
  z-index: 3;
  height: 214px;
  border-radius: 50%;
  top: 13px;
  right: 0; }

.anim-layer-4 {
  background-color: green;
  z-index: 4;
  height: 161px;
  width: 170px;
  right: 0; }

.animSection {
  padding: 6% 0; }

@media (min-width: 768px) {
  .twoCards-card {
    padding: 50px 60px 60px; }
  .footer {
    padding: 60px 0; }
  .footer-end {
    padding: 50px 0; }
  .black-section {
    padding: 5% 0; }
  .towCards-card-img {
    padding: 40px;
    margin: 30px; }
  .lets-work-f-columns {
    display: flex;
    align-items: flex-start; }
  .hero-section {
    padding-top: 60px; }
  .hero-right {
    padding-top: 0px !important;
    padding-right: 0px !important; }
  .col-left-margin {
    margin-left: 14.4%; }
  .col-right-margin {
    margin-right: 14.4%; }
  .text-right-md {
    text-align: right; }
  .bigger-title {
    font-size: 70px; } }

@media (max-width: 768px) {
  .small-text-center {
    text-align: center; }
  .bigger-title {
    font-size: 45px; }
  .hero-section {
    padding-top: 30px; }
  .marketing-card {
    padding: 12px 0; }
  .hide-on-phone {
    display: none; }
  .col-text-spacing {
    margin-top: 50px !important; }
  .lets-work-f-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px; } }

@media (min-width: 992px) {
  #blackForm-container {
    width: 60%; } }

@media (max-width: 992px) {
  .navLinks-responsive {
    order: 2; }
  .nav-right-side {
    margin-right: auto; }
  .sticky-row,
  .sticky-row-img-sec {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .hide-992 {
    display: none; }
  .big-title {
    font-size: 2rem; }
  .md-title {
    font-size: 18px; } }

@media (max-width: 1280px) {
  .hide-on-md {
    display: none; } }

@media (min-width: 1280px) {
  .responsive-fonts {
    font-size: 18px; }
  .md-title {
    font-size: 26px; }
  .md-w-60 {
    width: 60%; }
  .big-title {
    font-size: 3rem;
    font-weight: 700; }
  .bigger-title {
    font-weight: 700;
    line-height: 1.12; }
  .navLinks-responsive {
    width: auto; } }

@media (max-width: 576px) {
  .hero-left-img {
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    color: #fff;
    top: 0; } }
